@model AddPropertyFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="PropertyFormModel.PictureUrl"></label>
                <input asp-for="PropertyFormModel.PictureUrl" class="form-control" placeholder="Property Picture's url here...">
                <span asp-validation-for="PropertyFormModel.PictureUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Interior"></label>
                <input asp-for="PropertyFormModel.Interior" class="form-control" placeholder="Upholstered, Furnished, etc...">
                <span asp-validation-for="PropertyFormModel.Interior" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Address"></label>
                <input asp-for="PropertyFormModel.Address" class="form-control">
                <span asp-validation-for="PropertyFormModel.Address" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.LivingArea"></label>
                <textarea asp-for="PropertyFormModel.LivingArea" rows="4" class="form-control"></textarea>
                <span asp-validation-for="PropertyFormModel.LivingArea" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Rooms"></label>
                <input asp-for="PropertyFormModel.Rooms" class="form-control">
                <span asp-validation-for="PropertyFormModel.Rooms" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Floor"></label>
                <input asp-for="PropertyFormModel.Floor" class="form-control">
                <span asp-validation-for="PropertyFormModel.Floor" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.TotalFloors"></label>
                <input asp-for="PropertyFormModel.TotalFloors" class="form-control">
                <span asp-validation-for="PropertyFormModel.TotalFloors" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Year"></label>
                <input asp-for="PropertyFormModel.Year" class="form-control" placeholder="@DateTime.UtcNow.Year">
                <span asp-validation-for="PropertyFormModel.Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Price"></label>
                <input asp-for="PropertyFormModel.Price" class="form-control">
                <span asp-validation-for="PropertyFormModel.Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.Type"></label>
                <select asp-for="PropertyFormModel.Type" class="form-control">
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.ToString()">@type.ToString()</option>
                    }
                </select>
                <span asp-validation-for="PropertyFormModel.Type" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.DistrictId"></label>
                <select asp-for="PropertyFormModel.DistrictId" class="form-control">
                    @foreach (var district in Model.Districts)
                    {
                        <option value="@district.Id">@district.Name</option>
                    }
                </select>
                <span asp-validation-for="PropertyFormModel.DistrictId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyFormModel.EstateAgentId"></label>
                <select asp-for="PropertyFormModel.EstateAgentId" class="form-control">
                    @foreach (var agent in Model.EstateAgents)
                    {
                        <option value="@agent.Id">@agent.Name</option>
                    }
                </select>
                <span asp-validation-for="PropertyFormModel.EstateAgentId" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Save" />
        </form>
    </div>
</div>
