@model IEnumerable<AllPropertiesServiceModel>

@{
    ViewBag.Title = "All Properties";
}

@if (!Model.Any())
{
    <div class="container">
        <h1 class="text-center">No Properties found!</h1>
    </div>
}

<div class="row">
    @foreach (var property in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@property.ImageUrl">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@property.Type  @property.Address @property.District</h5>
                    <h3 class="card-text text-center">@property.Price</h3>
                    <a asp-controller="Properties" asp-action="Edit" asp-route-id="@property.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Properties" asp-action="Delete" asp-route-id="@property.Id" class="btn btn-danger">Delete</a>

                </div>
            </div>
        </div>
    }
</div>
